@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: #f8f8f8;
      --background-50:  #A489B0;
      --background-100: #9B7DA8;
      --background-200: #886597;
      --background-300: #72557F;
      --background-400: #5C4466;
      --background-500: #35273b;
      --background-600: #281E2C;
      --background-700: #0A070B;
      --background-800: #000000;
      --background-900: #000000;
    --text: #313131;
    --primary: #62d175;
      --primary-50:  #f7fdf8;
      --primary-100: #effaf1;
      --primary-200: #d8f4dd;
      --primary-300: #c0edc8;
      --primary-400: #91df9e;
      --primary-500: #62d175;
      --primary-600: #58bc69;
      --primary-700: #4a9d58;
      --primary-800: #3b7d46;
      --primary-900: #306639;
    --secondary:#5A5560;
    --tertiary: #9D8D8F;
    --quaternary:#9B786F;
    }
   .dark {
      --background: #35273b;
        --background-50:  #f5f4f5; 
        --background-100: #ebe9eb;
        --background-200: #cdc9ce;
        --background-300: #aea9b1;
        --background-400: #726876;
        --background-500: #35273b;
        --background-600: #302335;
        --background-700: #281d2c;
        --background-800: #201723;
        --background-900: #1a131d;
      --text: #f0f0f0;
      --primary: #14A1D0;
        --primary-50:  #f3fafd;
        --primary-100: #e8f6fa;
        --primary-200: #c4e8f3;
        --primary-300: #a1d9ec;
        --primary-400: #5bbdde;
        --primary-500: #14a1d0;
        --primary-600: #1291bb;
        --primary-700: #0f799c;
        --primary-800: #0c617d;
        --primary-900: #0a4f66;
      --secondary:#5A5560;
      --tertiary: #9D8D8F;
      --quaternary:#9B786F;
    }
  }